// --------------------------------------------------
// Color Variables
// --------------------------------------------------

$custom-grey1: #20202b;
$custom-grey2: #585860;

$custom-black1: #00000040;
$custom-black2: #000000;
